:root {
  --boardSize: 11;
  --host-ship-bg-color: #b9daff;
  --table-bg-color: #ffffff;
  --table-border-color: #b1b1b1;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.axe {
  width: 30px;
  height: 30px;
  text-align: center;
  text-justify: middle;
  border: 1px solid var(--table-border-color);
  background-color: var(--table-bg-color);
}
.cell {
  display: flex;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid var(--table-border-color);
  background-color: var(--table-bg-color);
  transition: background-color 0.2s ease-in-out;
  align-items: center;
}
.cursor-pointer{
  cursor: pointer;
}
.disable-Board {
  position: absolute;
  width: 100%;
  background-color: #b1b1b1;
}
.enter-name-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: "Roboto", sans-serif;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.game-ID{
  margin: 0;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(var(--boardSize), 30px);
}
.game-over{
  background: #b1b1b100;
}
.grid-game-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.hit {
  background-color: #ff6161;
}
.hover-ship {
  background-color: #8ffa97;
  cursor: pointer;
}
.legend {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60px;
}
.legend-board-container {
  display: flex;
}
.miss {
  background-color: #dfe3e6;
}
.my-name-clr-bg {
  background: rgb(20, 153, 225);
  color: aliceblue;
}
.name {
  max-width: 450px;
  min-width: 400px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 0px; 
}
.new-game-button {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 20px 0px 0px 0px;
  border: 2px solid #b1b1b1;
  border-radius: 5px;
  background-color: #ffffff;
  color:  rgb(20, 153, 225);
}
.new-game-container {
  text-align: center;

}
.opponent-disconnected {
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}
.opponent-name-clr-bg {
  background: rgb(170, 0, 255);
  color: aliceblue;
}
.opponent-turn{
  background: #b1b1b11f;
  cursor: not-allowed;
  height: 352px;
  width: 330px;
}
.placed {
  border: 1px solid #8cabfa;
  background-color: #ffffff;
  cursor: not-allowed;
}
.placed-ship {
  background-color: var(--host-ship-bg-color);
}
.player1-legend {
  margin-right: 10px;
}
.player1-ship-color {
  background-color: var(--host-ship-bg-color);
  border: 1px solid #8cabfa;
}
.player2-legend {
  align-items: flex-end;
  margin-left: 10px;
}
.player2-ship-color {
  background-color: #e5b9ff;
  border: 1px solid #c78cfa;
}
.remove-ship {
  display: flex;
  top: -5px;
  left: -5px;
  width: 13px;
  height: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: #000000;
  border: 1px solid #ff0000;
  border-radius: 10px;
  background-color: var(--table-bg-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 0px;
}
.sank {
  border: 1px solid #fa8c8c;
  background-color: #ffb9b9;
}
.ship {
  text-align: center;
  text-justify: middle;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}
.ship-4 {
  width: 60px;
  height: 15px;
}
.ship-3 {
  width: 45px;
  height: 15px;
}
.ship-2 {
  width: 30px;
  height: 15px;
}
.ship-1 {
  width: 15px;
  height: 15px;
}
@media screen and (max-width: 885px) {
  .grid-game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .opponent {
    flex-direction: row-reverse;
  }
  .player2-legend {
    align-items: start;
    margin-right: 10px;
    margin-left: 0px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .wait-to-player {
    animation: text-blink infinite 1.5s linear;
  }
}
@keyframes text-blink {
  0% {
    color: #000000;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #000000;
  }
}
